* {
  font-family: 'Iosevka Slab Web', monospace;
  font-weight: 300;
  color: var(--color-gray-60);
}

:root {
  --color-primary-0: rgba( 16,149,174,1);
  --color-primary-1: rgba( 98,182,197,1);
  --color-primary-2: rgba( 64,196,220,1);
  --color-primary-3: rgba(  9, 87,101,1);
  --color-primary-4: rgba(  2, 94,111,1);
  --color-primary-5: rgba( 16,149,174,0.07);
  --color-primary-6: rgba( 16,149,174,0.2);

  --color-white: rgb(255,255,255);
  --color-black: rgb(0,0,0);
  --color-success: rgb(88, 195, 92);
  --color-complete : rgb(165, 153, 198);
  --color-warning: rgb(252, 136, 2);
  --color-danger: rgb(230, 82, 68);
  --color-info: rgb(89, 185, 226);
  --color-ocean: rgb(66, 133, 244);

  --color-gray-1:  rgb(245, 245, 245);
  --color-gray-5:  rgb(232, 233, 234);
  --color-gray-10: rgb(227, 227, 227);
  --color-gray-20: rgb(177, 178, 181);
  --color-gray-30: rgb(123, 125, 133);
  --color-gray-40: rgb(100, 102, 106);
  --color-gray-50: rgb(48, 50, 54);
  --color-gray-60: rgb(31, 31, 31);

  --color-gray-5-05:  rgba(232, 233, 234, 0.5);

  --color-success-dark: rgb(71,158,75);
  --color-danger-dark: #ba4237;
  --color-danger-lighter: #fadcda;

  --color-success-lighter: rgba(88, 195, 92, 0.1);
  --color-danger-lighter: rgba(230, 82, 68, 0.1);
  --color-inactive: rgb(100, 102, 106);
  --color-inactive-lighter: rgba(100, 102, 106, 0.1);
}

body {
  margin: 0px;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
}

main .message {
  border-radius: 2px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  height: 43px;
  user-select: none;
  width: 100%;
}

main .message.error {
  background-color: var(--color-danger);
}
main .message.info {
  background-color: var(--color-info);
}
main .message.success {
  background-color: var(--color-success);
}

main .message .content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0px;
  align-items: center;
}

main .message .close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 10px;
}

main .message .content .icon {
  display: flex;
  padding-right: 10px;
}

/* --- SECTION: HEADER --- */

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--color-gray-10);
  margin-bottom: 10px;

}

.header nav {
  margin-right: 10px;
}

.header nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header nav li {
  cursor: pointer;
  border: 1px solid var(--color-gray-10);
  padding: 6px 12px;
  border-radius: 2px;
}

.header nav li.active {
  background-color: var(--color-gray-50);
  font-weight: 400;
  color: white;
}


.header nav li:hover {
  border: 1px solid var(--color-gray-20);
}

.header nav li:not(:last-child) {
  margin-right: 10px;
}

.header .section-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 34px;
}

/* --- SECTION: STRATEGIES --- */

.strategies {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.strategies .strategy-item {
  width: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px dotted var(--color-gray-20);
  cursor: pointer;
}

.strategies .strategy-item > legend {
  background-color: white;
  border: 1px solid var(--color-primary-6);
  border-radius: 3px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.strategies .symbol-entry {
  border: 2px solid var(--color-gray-40);
  margin: 10px 10px;
  width: 150px;
  padding: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.strategies .symbol-entry.direction-up {
  border-color: var(--color-success);
}

.strategies .symbol-entry.direction-down {
  border-color: var(--color-danger);
}

.strategies .symbol-entry.inactive {
  opacity: 20%;
}

.strategies .symbol-entry .id {
  color: var(--color-gray-60);
  font-weight: 200;
}

.strategies .symbol-entry .dir {
  color: var(--color-gray-60);
  font-weight: 900;
}

.strategies .symbol-entry .age {
  color: var(--color-gray-60);
  font-weight: 200;
}

/* --- SECTION: SETTINGS --- */

.settings-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.strategies-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.symbols-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.strategies-section .strategy-title,
.symbols-section .symbols-title {
  user-select: none;
  border: 0px;
  margin-bottom: 10px;
  border-bottom: 1px dotted var(--color-gray-40);
  border-radius: 2px;
  background-color: white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  width: 440px;
}

.strategies-section .strategy-title {
  width: 140px;
}


.strategies-section .strategy-title[disabled],
.symbols-section .symbols-title[disabled] {
  color: var(--color-gray-60);
  opacity: 1;
}


.strategies-section .strategy-list {
  /* margin: 10px 10px; */
  padding: 6px 12px;
  width: 140px;
  height: 65vh;
}


.symbols-section .symbol-list {
  /* margin: 10px 10px; */
  padding: 6px 12px;
  width: 440px;
  height: 65vh;
}

.strategies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.strategy-item {
  width: 430px;
  margin: 10px 20px;
  border: 2px solid var(--color-gray-40);
}

.strategy-item.active {
  border: 2px solid var(--color-success);
}

.strategy-item .buttons {
  display: flex;
  justify-content: flex-end;
  border-top: 1px dotted var(--color-gray-20);
  padding-top: 10px;
}

.strategy-item .buttons input {
  margin-left: 5px;
}

.strategy-item .field {
  padding: 6px;
}

/* --- SECTION: SCREENER --- */

.screener {
  display: flex;
  margin: 20px;
  flex-direction: column;
  /* align-items: center; */
  max-width: 1200px;
  width: 100%;

  /* outline: 1px solid red; */
}

.screener .table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.screener .screener-item {
  /* outline: 1px solid green; */
  margin: 5px;
  padding: 5px 10px;
  border: 1px dotted var(--color-gray-5);
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.screener .screener-item:hover {
  border: 1px dotted var(--color-gray-10);
  background-color: var(--color-gray-1);
}


.screener .screener-item .symbol-name {
  display: flex;
  width: 120px;
  margin-right: 10px;
  align-items: center;
  font-weight: 400;
}


.screener .screener-item .timings {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.screener .screener-item .timings > div {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.screener .screener-item .timeframe {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.screener .screener-item .timeframe.negative {
  color: var(--color-danger);
}

.screener .screener-item .timeframe.positive {
  color: var(--color-success);
}

.screener .screener-item .spacer {
  flex-grow: 1;
}

.screener .screener-item .indicator {
  font-weight: 200;
  margin-left: 3px;
  font-size: 14px;
  align-items: center;
  display: flex;
}



.screener .screener-item .signals {
  display: flex;
}


.screener .screener-item .signals .signal {
  display: flex;
}

.screener .screener-item .signals .signal.inactive {
  opacity: 0.4;
}


.screener .screener-item .signals .signal-name {
  font-size: 14xpx;
  padding: 2px 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.screener .screener-item .signals .signal-direction {
  display: flex;
  align-items: center;
  font-weight: 200;
}

.screener .screener-item .signals .signal-direction.positive {
  color: var(--color-success);
}
.screener .screener-item .signals .signal-direction.negative {
  color: var(--color-danger);
}

.screener .screener-item .signals > span:not(:last-child) {
  margin-right: 5px;
}


/* --- SECTION: AUTH --- */

.auth-section {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-section form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.auth-section form .row {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.auth-section form input[type=text] {
  padding: 0px 6px;
  /* width: 300px; */
  width: 100%;
  font-size: 18px;
  height: 34px;
}
.auth-section form input[type=submit] {
  width: 140px;
  background-color: var(--color-gray-60);
  background-color: var(--color-primary-4);
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  height: 34px;
}

.auth-section form input[disabled] {
  opacity: 0.4;
}


/* --- BREADCRUMB --- */

.breadcrumb span:nth-child(1) {
  font-weight: 600;
}

.breadcrumb span:nth-child(2) {
  font-weight: 300;
  /* color: var(--color-gray-40); */
}

.breadcrumb span:nth-child(3) {
  font-weight: 300;
  color: var(--color-gray-40);
}

